#jkl p{
    left: 1%;
    top: 50%;
    width: 50%;
    color: black;
    position: absolute;
    font-family:cursivevc; 
    font-size: 30px; 
    padding-left: 25px;
    margin-left: 40%;
    text-shadow: 3px 2px 10px black ;
    font-weight: 800;
    

}
#mk{
    margin-left: 20%;
}
#kk{
    border-radius: 500px;
    opacity: 0.5;
    box-shadow: 3px 2px 20px  rgb(226, 241, 4);
}
#kk:hover{
    opacity: 0.9;
    color: gold;
}
#ak{
    background-color: rgb(53, 131, 22);
    color: white;
}

#ai{
    /* margin-left: ; */
    filter: grayscale(100%);
    color: rgb(221, 176, 176); 
    /* background-color: rgb(68, 2, 250); */
    text-align: center;
    transition-duration: 1.5s;
    /* z-index: 1; */
  }
  #ai:hover{
    /* transform: scale(1.1); */
    filter: grayscale(0%);
    border-radius: 10px 20px 10px 20px/20px 10px 20px 10px ;
    transform: rotatey(180deg);
  }
  
/* #pp{
    rotate: 90deg;
    transform: rotateX('angle');
    margin-left: 70%;
    position: absolute;
} */
  #kar{
    height: 350px;
    width: 250px;
border-radius: 300px;
    opacity: 0.7;
 }
 #kar:hover{
    opacity: 1.7;
 } 
 #fm{
    text-align: center;
    color: white;
 }